build/
/.vscode/
meson.build.user
CMakeLists.txt.user
*.qm
/.vs/
/out/
CMake*.json
*.o
*.--quiet
.cache/
/vcpkg
/vcpkg_installed

# generated vcpkg file
vcpkg.json

# AI configuration files
.roomodes
.roo/
.ruru/
.roo_temp/
.roo_temp_$$/
.cursor/
.spec-workflow/
.cursorrules
.cursorindexingignore
.specstory/
.taskmaster/
.kilocode/
.marscode/
.qoder/
.serena/

# Modules
modules/*
!modules/CMakeLists.txt
!modules/*.cmake
!modules/sslconf
